footer {
    background-color: black;
    padding: 60px 0;

}

.footer-logo {
    height: 25px;
    margin-bottom: 18px
}

.footer-text {
    color: white ;
}

.footer-text p {
    color: rgba(255, 255, 255, 0.813);
    font-weight: 300;
}

footer .social-icons {
    display: flex;
    margin-top: 30px
}

footer .social-icons li {
    margin: 0 8px
}
footer .social-icons li:first-child {
    margin-left: 0;
}

footer .social-icons li a {
    text-decoration: none;
    color: white;
    background-color: #20B15A;
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    color: rgba(255, 255, 255, 0.813);
    margin-top: 35px
}

.footer-text h5 {
    color: white;
    margin-bottom: 15px
}

.quick-link li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.813);
    padding: 8px 0;
    display: inline-block;
}

.quick-link li a:hover {
    color: white;
}

address {
    color: rgba(255, 255, 255, 0.813);
}