.service-card {
    padding: 40px 35px;
    background-color: white;
    box-shadow:  0 0 20px 2px rgba(149, 148, 148, 0.2);
    border-radius: 20px;
}

.service-card img {
    width: 100%;
}

.service-card h4 {
    font-size: 26px;
}